@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: monospace;
}
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto; /* push the footer to the bottom */
}
